body
{
  background-image: url(/img/image1.jpg);
  background-size: 100%;
  background-position: bottom;
  background-color: aqua;
  min-height: 100%;
}
form{
padding: 20px;
margin-top: 10px;
border-radius: 5PX;
}